function Main.main 1
push constant 8001
push constant 16
push constant 1
neg
call Main.fillMemory 3
pop temp 0
// Let begin value
push constant 8000
call Memory.peek 1
pop local 0
// Let end
push local 0
call Main.convert 1
pop temp 0
return
function Main.convert 3
// Let begin loop
push constant 0
not
pop local 2
// Let end
label convert-0-begin
push local 2
if-goto convert-0-true
goto convert-0-end
label convert-0-true
// Let begin position
push local 1
push constant 1
add
pop local 1
// Let end
// Let begin mask
push local 0
call Main.nextMask 1
pop local 0
// Let end
push local 1
push constant 16
gt
not
if-goto convert-1-true
// Let begin loop
push constant 0
pop local 2
// Let end
goto convert-1-end
label convert-1-true
push argument 0
push local 0
and
push constant 0
eq
not
if-goto convert-2-true
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
pop temp 0
goto convert-2-end
label convert-2-true
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
pop temp 0
label convert-2-end
label convert-1-end
goto convert-0-begin
label convert-0-end
return
function Main.nextMask 0
push argument 0
push constant 0
eq
if-goto nextMask-0-true
push argument 0
push constant 2
call Math.multiply 2
return
goto nextMask-0-end
label nextMask-0-true
push constant 1
return
label nextMask-0-end
function Main.fillMemory 0
label fillMemory-0-begin
push argument 1
push constant 0
gt
if-goto fillMemory-0-true
goto fillMemory-0-end
label fillMemory-0-true
push argument 0
push argument 2
call Memory.poke 2
pop temp 0
// Let begin length
push argument 1
push constant 1
sub
pop argument 1
// Let end
// Let begin startAddress
push argument 0
push constant 1
add
pop argument 0
// Let end
goto fillMemory-0-begin
label fillMemory-0-end
return
